@import "tailwindcss";

@theme {
    --color-background: #f8fafc;
    --color-sidebar-background: #fefefa;
    --color-text: #010b13;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-md);
    overflow: hidden;
}
