@import "tailwindcss";

@theme {
    --color-background: #f8fafc;
    --color-sidebar-background: #fefefa;
    --color-text: #010b13;
    --color-logo: #2563eb;
    --color-border: #e2e8f0;
    --color-llm-background: #e2ecfe;
    --color-llm-hover-background: #d8e6fd;
    --color-llm-text: #1d4ed8;
    --color-embedding-background: #e8eaee;
    --color-embedding-hover-background: #dbe0e7;
    --color-embedding-text: #334155;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-md);
    overflow: hidden;
}

.app-drag {
    -webkit-app-region: drag;
}

.app-no-drag {
    -webkit-app-region: no-drag;
}